* {
  font-family: Helvetica, sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #5c258d;
  background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
  background: linear-gradient(to right, #4389a2, #5c258d);

  color: #f9fafb;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
 height: 30px;
 width: 50px;
 padding: 0.5rem;

 background-color: #52525b;
 color: #f9fafb;
 border: 0;
}
